.auth-page{
    width: 100%;
    height:100%;
    margin:0px;
    padding-top: 100px;
}

.right-side{
    margin:0px;
}
#avatar{
    max-width: 30%;
}
#logo{
    max-width: 50%;
    margin-bottom: 20px;
    margin-top:10px;
}
button{
    margin-top: 20px;
    width:70%
}
mat-card{
    min-width: 100px;;
}