<!-- Main -->
<div class="container">
    <div class="row main">
        
        <div class="col s12">
            <div class="row">
                <!-- Card Profile-->
                <div class="col s12 m6 card-container" routerLink="/profile">
                    <div class="card grey darken-3 hoverable">
                    <div class="card-content white-text"><span class="card-title">Profile</span>

                        <p>{{ username }}</p>
                    </div>
                    </div>
                </div>
                <!-- Card Schedual-->
                <div class="col s12 m6 card-container" routerLink="/schedual">
                    <div class="card cyan darken-3 hoverable">
                    <div class="card-content white-text"><span class="card-title">Schedual</span>

                        <p>{{ schedualInfo }}</p>
                    </div>
                    </div>
                </div>

                <!-- Card Chatroom-->

                <div class="col s12 m6 card-container">
                    <div class="card blue darken-3 hoverable" routerLink="/chatroom">
                    <div class="card-content white-text"><span class="card-title">Chatroom</span>

                        <p></p>
                    </div>
                    </div>
                </div>
                    
                <!-- Line 2 -->

                <!-- Card News -->
                <div class="col s12 m6 card-container">
                    <div class="card teal darken-3 hoverable" routerLink="/news">
                    <div class="card-content white-text"><span class="card-title">News</span>

                        <p></p>
                    </div>
                    </div>
                </div>
                <!-- Card Contact-->

                <div class="col s12 m6 card-container" routerLink="/contact">
                    <div class="card lime darken-3 hoverable">
                    <div class="card-content white-text"><span class="card-title">Contact</span>

                        <p></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
